.alias_form {
    padding-left: 70px;
}

.title {
    padding-left: 70px;
    margin-bottom: 30px;
    margin-top: 50px;
}

.btn {
    margin-top: 10px;
}

.container {
    margin-top: 30px;
}

.inputs {
    margin-top: 5px;
}
